/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}


.modaldet {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  padding-top: 60px;
}

.details-container{
  margin-left: 50px;
  margin-right: 20px;
  margin-top: 40px;
}
.details-container h1{
  margin-bottom: 10px;
  font-style: normal;
  font-weight: normal;
}
.details-container hr{
  margin-bottom: 20px;
}
.details-container h2{
	margin-top: 70px;
	margin-bottom: 10px;
}
.details-container .gap{
	margin-right: 20px;
	margin-top: 50px;
	margin-bottom: 10px;
}