.signupbtn-sign{
  background-color: Green;
  color: white;
  font-size: 16px;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.signupbtn-sign:hover{
  opacity:0.8;
}

/* Extra styles for the cancel button */
.cancelbtn-sign {
  padding: 14px 20px;
  background-color: Red;
  font-size: 16px;
  margin: 8px 0;
  width: 100%;
  border: none;
  cursor: pointer;
}
.cancelbtn-sign:hover{
  opacity:0.8;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn-sign, .signupbtn-sign {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container-sign {
  padding: 16px;
  color: Black;
}

.gender{
  margin-left: 15px;
  font-size: 16px;
  width: 90px;
}

/* The Modal (background) */
.modal-sign {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.8);
  padding-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Modal Content/Box */
.modal-content-sign {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close-sign {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close-sign:hover,
.close-sign:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix-sign::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn-sign, .signupbtn-sign {
     width: 100%;
  }
}
