*{
  margin: 0px;
  padding: 0px;
}

.navbar{
  width: 100%;
  height: 70px;
  background-color: #edeef0;
  box-shadow: 0 2px grey;

}

.leftnav{
  width: 25%;
  line-height: 70px;
  float: left;
}
.leftnav h1{
    padding-left: 70px;
    font-weight: bold;
    font-size: 40px;
    color: rgb(14,5,150);
    font-style: normal;
}
.leftnav h1:hover{
  color: #f00d05;
}

.rightnav{
  width: 35%;
  height: 60px;
  float: right;
}
.rightnav ul{
  margin-left: 250px;
}
.rightnav ul li{
  font-style: normal;
  display: inline-block;
  color: white;
  list-style: none;
  font-size: 19px;
  font-weight: normal;
  line-height: 70px;
  margin-left: 50px;
}
.rightnav ul li a:link{
  text-decoration: none;
}
.rightnav ul li a{
  color: Black;
}
.rightnav ul li a:hover{
  color: #f00d05;
}
.rightnav ul li a:active{
  color: blue;
}


.text-container{
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 60px;
}
.form h1{
  font-size: 40px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: bold;
}
.form h3{
  font-size: 20px;
  margin-bottom: 10px;
  font-style: normal;
  margin-top: 20px;
  font-weight: normal;
}
.form .gap hr{
  margin-top: 40px;
  margin-left: 200px;
  margin-bottom: 40px;
  margin-right: 200px;
}


.update-form{
  margin-top: 25px;
}
.update-form select{
  width: 25%;
  margin-left: 20px; 
  height: 30px;
}
.update-form input[type=date]{
  margin-left: 10px;
  height: 20px;
  width: 10%;
}
.update-form input[type=text], input[type=password]{
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.update-form label{
  color: Black;
  font-size: 23px;
  font-style: normal;
}
.update-form input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

#del-color{
  color: red;
}

.updatebtn{
  background-color: Green;
  color: white;
  font-size: 16px;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 50%;
}
.updatebtn:hover{
  opacity:0.8;
}
.delbtn, .delbtn1{
  background-color: red;
  color: black;
  font-size: 16px;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 50%;
  float: right;
}
.delbtn:hover, .delbtn:hover{
  opacity: 0.8;
}