.AIbgimage{
  background-image: url("../images/artificial.jpg");
  background-size: 100%;
  width: 1518px;
  height: 600px;
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
}

.datasciencebgimage{
  background: url(../images/datascience.jpg);
  background-size: 100%;
  width: 1518px;
  height: 600px;
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
}

.deeplearningbgimage{
  background: url(../images/deeplearning.jpg);
  background-size: 100%;
  width: 1518px;
  height: 600px;
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
}

.mlbgimage{
  background: url(../images/machinelea.png);
  background-size: 100%;
  width: 1518px;
  height: 650px;
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
}

.nlpbgimage{
  background: url(../images/NLP.jpg);
  background-size: 100%;
  width: 1518px;
  height: 600px;
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
}

.cyberbgimage{
  background: url(../images/cyber.png);
  background-size: 100%;
  width: 1518px;
  height: 600px;
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
}

.blockchainbgimage{
  background: url(../images/blockchain.png);
  background-size: 100%;
  width: 1518px;
  height: 600px;
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
}

.cbgimage{
  background: url(../images/C.jpg);
  background-size: 100%;
  width: 1518px;
  height: 600px;
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
}

.javabgimage{
  background: url(../images/java.png);
  background-size: 100%;
  width: 1518px;
  height: 600px;
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
}

.jsbgimage{
  background: url(../images/javascript.png);
  background-size: 100%;
  width: 1518px;
  height: 600px;
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
}

.pythonbgimage{
  background: url(../images/python.png);
  background-size: 100%;
  width: 1518px;
  height: 600px;
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
}

.rbgimage{
  background: url(../images/R.png);
  background-size: 100%;
  width: 1518px;
  height: 600px;
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
}

.webbgimage{
  background: url(../images/web.gif);
  background-size: 100%;
  width: 1518px;
  height: 600px;
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
}

.androidbgimage{
  background: url(../images/android.png);
  background-size: 100%;
  width: 1518px;
  height: 600px;
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
}

.jsbgimage{
  background: url(../images/javascript.png);
  background-size: 100%;
  width: 1518px;
  height: 600px;
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
}

.programingbgimage{
  background: url(../images/programming.jpg);
  background-size: 100%;
  width: 1518px;
  height: 600px;
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
}

.databgimage{
  background: url(../images/database2.png);
  background-size: 100%;
  width: 1518px;
  height: 600px;
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
}
